@media all and (max-width: 1199px){
    header .navbar .navbar-brand img {
        height: 40px;
        padding-right: 2rem;
    }
    header .navbar .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    header .hero-area .text_container .input_group input {
        width: 60%;
    }
    header .hero-area .text-right{
        width: 85%;
        margin: auto;
    }
    .services .item-content .title,
    .services .item-content .subtitle,
    .services .item-content .a
     {
        margin-bottom: 10px;
    }
    .services .item-content {
        min-height: 320px;
    }

}
@media all and (max-width: 991px){
    header .navbar .navbar-nav .nav-item.seo-button {
        margin: 0 0 0 0rem;
        display: block;
    }
    header .navbar .navbar-nav .nav-item .nav-link.button{
        display: inline-block;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.2);
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
        color: #999999;
	}

	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 8px;
	}

	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}

	.navbar-toggler span {
		display: block;
		width: 25px;
		height: 3px;
		background: #999999;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
    }
    header .hero-area .text_container {
        color: #999999;
        text-align: center;
        margin-bottom: 2rem;
    }
    header .hero-area .text_container .input_group{
        justify-content: center;
    }
    header .hero-area .text-right {
        width: 100%;
        margin: auto;
        text-align: center !important;
        justify-content: center;
    }
    .work .text .subtitle {
        padding-right: 0rem;
    }
    .work .img {
        margin: 4rem 0;
    }
    h3.title {
        font-size: 20px;
        align-self: center;
    }
}
@media all and (max-width: 767px){
    .cta {
        padding: 2rem 0;
    }
    .cta .d-flex{
        display: block !important;
        text-align: center;
    }
    .cta .d-flex h3.title{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .cta .d-flex h3.title{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .cta .d-flex .btn-2{
        display: inline-block;
    }
    .brand .d-flex{
        display: block !important;
        text-align: center;
    }
    .brand .brand-logo {
        display: inline-block;
        margin: 15px 40px;
    }
}
@media all and (max-width: 425px){
    header .navbar {
        padding: 1rem 2rem;
    }
    h2 {
        font: normal 500 25px/35px var(--khula);
    }
    header .hero-area .text_container .input_group {
        display: block !important;
    }
    header .hero-area .text_container .input_group input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .brand {
        padding: 0 0;
    }
    .price .content {
        margin: 20px 0;
    }
    footer .p_100{
        padding: 40px 0;
    }
    footer .footer-items{
        margin-bottom: 20px;
    }
    footer .footer-items{
        margin-bottom: 20px;
        text-align: center;
    }
}