@import url(./_partials/_global.css);
@import url(./_partials/_fonts.css);
@import url(./_partials/_variables.css);

header {
    border-bottom: 1px solid #f6f6ff;
}

header .nav-container {
    transition: .3s ease;
}

header .nav-container:hover {
    box-shadow: 0 4px 4px #efefef;
}

header .navbar {
    padding: 1.5rem 0;
    transition: background 0.4s, all 0.3s linear;
}

header .navbar .navbar-brand img {
    height: 40px;
    padding-right: 9rem;
}

header .navbar .navbar-nav .nav-item {
    margin-right: 1.3rem;
}

header .navbar .navbar-nav .nav-item .nav-link {
    color: #888888;
    transition: .3s ease;
}

header .navbar .navbar-nav .nav-item.seo-button {
    margin: 0 0 0 3rem;
}

header .navbar .navbar-nav .nav-item:hover .nav-link {
    color: #ef476f;
}

/* Hero Area */
header .hero-area .text_container {
    color: #999999;
}

header .hero-area .text_container .title {
    padding-right: 0rem;
}

header .hero-area .text_container .input_group input {
    width: 70%;
    height: 40px;
    margin-right: 1rem;
    border: 1px solid #eeeeee;
    color: #999999;
    padding: 5px 10px;
}

header .hero-area .text_container .input_group input:focus {
    outline: none;
}

/* Services area*/

.services .item-content {
    border: 1px solid #eeeeee;
    padding: 2rem 1.5rem .5rem 1.5rem;
    margin: 16px 0;
    transition: .3s ease;
}

.services .item-content:hover {
    border: 1px solid #ef476f;
}

.services .item-content:hover i,
.services .item-content:hover .title {
    color: #ef476f;
}

.services .item-content .logo i {
    font-size: 36px;
    padding-bottom: 20px;
}

.services .item-content .logo i.fa-rocket {
    transform: rotate(-45deg);
}

.services .item-content .title {
    font-size: 20px;
    margin-bottom: 20px;
}

.services .item-content a {
    text-decoration: none;
    color: #373737;
    font-size: 15px;
    margin-bottom: 20px;
    transition: .3s ease;
}

.services .item-content:hover a {
    color: #ef476f;
}

/* End Services Area */
/* Work Area */
.work {
    padding-bottom: 100px;
}

.work .text {
    max-width: 500px;
    padding-top: 2rem;
}

.work .text .subtitle {
    padding-right: 4rem;
}

.wrok .row .text a {
    color: #efefef;
}

.work .img {
    margin-left: 3rem;
}

/* End Work Area */
/* Case Study Area */
.case {
    background: #fbfbfb;
}

.case .items {
    margin: 0 15px;
}

.case .items .images {
    position: relative;
    border-radius: 10px;
}

.case .items .images .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: var(--primary-color);
    transition: all .5s ease;
    opacity: 0;
}

.case .items .images .overlay .title-1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.case .items .images .overlay .title-2 {
    font-size: 17px;
    margin-bottom: 1rem;
}

.case .items .images .overlay .sub {
    font-size: 15px;
    padding: 0 20px;
}

.case .items .images .overlay a {
    color: #fff;
    line-height: 25px;
    padding-top: 20px;
}

.case .items .images .overlay a>i {
    font-size: 25px;
}

.case .items .images:hover .overlay {
    opacity: .85;
}

/* End Case Area */
/* Testimonial Area */
.testimonial .items {
    max-width: 600px;
    height: auto;
    margin: auto;
    text-align: center;
}

.testimonial .items .title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;
}

.testimonial .items .img {
    text-align: center;
}

.testimonial .items .img>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
}

.testimonial .items .c-name {
    font-size: 18px;
    padding: 13px 0;
}

.testimonial .items .designation {
    font-size: 14px;
}

.testimonial .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

.testimonial .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 3px;
}


.testimonial .owl-theme .owl-dots .owl-dot.active span {
    background: var(--primary-color);
}

/* End Testimonial Area */
.cta{
    padding: 4rem 0;
    background: #f8f8f8;
}
.cta::before{
    content: '';
    clear: both;
    display: block;
}
.cta .d-flex{
    justify-content: space-between;
    align-content: center;
}
/* Pricing Area */
.price .content{
    text-align: center;
    padding-top: 1rem ;
    border: 1px solid #f3f3f3;
    transition: all .3s ease;
}
.price .content:hover{
    border: 1px solid #ef476f;
    transform: scale(1.02);
}
.price .content .title{
    font-size: 20px;
    margin-bottom: 1rem;
    color: #373737;
}
.price .content .pricing{
    font-size: 45px;
    color: #ef476f;
    margin-bottom: 1rem;
}
.price .content .time{
    font-size: 14px;
    color: #999999;
    margin-bottom: 1rem;
}
.price .content span.hr{
    width: 80%;
    height: 1px;
    border-bottom: 1px solid #999999;
    display: block;
    margin: auto;
}
.price .content .features{
    padding: 20px 0;
}
.price .content .features span{
    width: 100%;
    display: block;
    font: normal 400 17px/27px var(--khula);
    color: #999999;
    margin: 12px 0;
}
/*price area end */
/* Brand area*/
.brand{
    padding: 50px 0;
}
.brand .d-flex{
    justify-content: space-around;
    align-items: center;
}
.brand .brand-logo{
    position: relative;
}
.brand .brand-logo .img > img{
    filter: invert(-10%) sepia(5%) saturate(0%) hue-rotate(257deg) brightness(84%) contrast(91%);
    transition: .3s ease;
}
.brand .brand-logo:hover .img > img{
    filter: invert(36%) sepia(67%) saturate(1900%) hue-rotate(322deg) brightness(99%) contrast(90%);
}
/* Brand Area End */
/* Footer Area */
footer{
    background: #fdfdfd;
}
footer .footer-text .title{
    color: #373737;
    font-size: 20px;
    margin-bottom: 24px;
}
footer .footer-text > a.features{
    color: #999999 !important;
    font-size: 15px;
    margin-bottom: 6px;
    transition: .3s ease;
    width: 100%;
    display: block;
}
footer .footer-text > a.features:hover{
    color: #ef476f !important;
}
footer .newslatter h5{
    font-size: 17px;
    color: #373737;
    margin-bottom: 25px;
}
footer .newslatter .input-group input{
    padding: 5px 4px;
    width: 70%;
    background: #f6f6f6;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #999999;
}
footer .newslatter .input-group input:focus{
    outline: none;
}
footer .newslatter .input-group button{
    background: #ef476f;
    outline: none;
    border: 2px solid #ef476f;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    transition: .3s ease;
}
footer .newslatter .input-group p{
    margin-bottom: 0;
}
footer .newslatter .input-group button:focus,
footer .newslatter .input-group button:hover{
    outline: none;
    background: transparent;
    color: #888888;
}
footer .newslatter .social .title{
    font-size: 20px;
    margin-bottom: 16px;
}
footer .newslatter .social .social-icons a{
    margin: 8px 5px;
    display: inline-block;
    color: #999999;
    transition: .5s ease;
}
footer .newslatter .social .social-icons a > i{
    color: #373737;
}
footer .newslatter .social .social-icons a:hover,
footer .newslatter .social .social-icons a:hover > i
{
    color: #ef476f !important;
}
footer .copyright {
    background: #f7f7f7;
    color: #999999;
    font-size: 15px;
}
/* Footer Area End */